DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1555599904645193809/5h3VMph3cCmTDwigmq-5DCGYZOm_h-CmhzuXmc70Y4MgQLUTbiDccOZe3c6-hNOJHjGN
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=you@gmail.com
SMTP_PASS=your-app-password
MAIL_FROM="YourBrand <you@gmail.com>"
